<div class="container mt-4">
  <h2>Restablecer Contraseña</h2>
  <!-- Formulario para restablecer contraseña -->
  <form id="restorePasswordForm">
    <div class="row mb-3">
      <div class="col-md-6 mb-2">
        <input type="email" id="email" name="email" class="form-control" placeholder="Correo Electrónico" required />
      </div>
      <div class="col-md-6 mb-2">
        <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Nueva Contraseña" required />
      </div>
    </div>
    <button type="button" class="btn btn-primary" onclick="restorePassword()">Restablecer Contraseña</button>
  </form>
</div>

<!-- SweetAlert2 CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function restorePassword() {
    fetch('/api/session/restore-password', {
      method: 'POST',
      body: JSON.stringify({
        email: document.getElementById('email').value,
        newPassword: document.getElementById('newPassword').value
      }),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then(data => {
      if (data.status === 'error') {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: data.message,
          confirmButtonText: 'Aceptar'
        });
      } else {
        Swal.fire({
          icon: 'success',
          title: 'Éxito',
          text: 'Contraseña restablecida correctamente.',
          confirmButtonText: 'Aceptar'
        }).then(() => {
          window.location.href = '/api/session/login';
        });
      }
    })
    .catch(error => {
      console.error('Error:', error);
      Swal.fire({
        icon: 'error',
        title: 'Error',
        text: 'Hubo un problema al restablecer la contraseña.',
        confirmButtonText: 'Aceptar'
      });
    });
  }
</script>
